In [101]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [102]:
from app import Bank, Account, Transaction

In [103]:
bank = Bank('DKB')

In [104]:
print(f'Bank: {bank.name}')
print(f'Accounts: {bank.accounts}')
print(f'Transactions: {bank.transactions}')

Bank: DKB
Accounts: {}
Transactions: []

In [105]:
account1 = bank.open_account(Account(firstname='Martin', lastname = 'Hugo', number = 3, balance = 300.0))

In [106]:
account1.has_funds_for(100)

True

In [107]:
account1.balance

300.0

In [108]:
account1.info()

'Number 3: Martin Hugo - 300.0 €'

In [109]:
account1.add_to_balance(200)

In [110]:
account1.balance

500.0

In [111]:
account1.subtract_from_balance(900)

AssertionError: Account has not enough funds

In [112]:
account2 = bank.open_account(Account(firstname='Miguel', lastname = 'Angel', number = 4, balance = 500.0))

In [113]:
account2.balance

500.0

In [114]:
transaction1 = bank.add_transaction(sender=account1, recipient=account2, subject='ticket', amount=10.0)

In [115]:
transaction1.info()

'From 3 to 4: ticket - 10.0 € 2019-02-08 14:42:53 3ebf465a-81d5-488c-8a07-ed3216e15264'

In [116]:
account2.balance

510.0

In [117]:
bank.add_transaction(sender=account1, recipient=account2, subject='ticket', amount=200.0)

In [118]:
bank.add_transaction(sender=account1, recipient=account2, subject='ticket', amount=2.0)

In [119]:
account1.add_to_balance(500)

In [120]:
account1.info()

'Number 3: Martin Hugo - 788.0 €'

In [121]:
account2.info()

'Number 4: Miguel Angel - 712.0 €'

In [122]:
transaction2 = bank.add_transaction(sender =account2, recipient=account1, subject="devolucion", amount = 500.0)

In [123]:
transaction2.info()

'From 4 to 3: devolucion - 500.0 € 2019-02-08 14:42:55 e4d64920-aae7-4a86-90ca-74ebbb209f7f'

In [124]:
transaction2.info()

'From 4 to 3: devolucion - 500.0 € 2019-02-08 14:42:55 e4d64920-aae7-4a86-90ca-74ebbb209f7f'

account2.add_to_balance(5000)

In [125]:
transaction3 = bank.add_transaction(sender =account2, recipient=account1, subject="devolucion", amount = 100.0)

In [126]:
transaction2.info()

'From 4 to 3: devolucion - 500.0 € 2019-02-08 14:42:55 e4d64920-aae7-4a86-90ca-74ebbb209f7f'

In [127]:
transaction3.info()

'From 4 to 3: devolucion - 100.0 € 2019-02-08 14:42:57 d6332a87-189c-4643-bf8a-ea5a37d490e9'

In [128]:
transaction3.time[6:7]

'2'

In [129]:
transaction3.time[5:7]

'02'

In [130]:
'Mes: ' + transaction3.time[5:7]

'Mes: 02'

bank.transactions

In [131]:
number = 3
selected_transactions = []
for transaction in bank.transactions:
    # if transaction.sender == number or transaction.recipient == number:
    if transaction.subject == 'devolucion': 
        selected_transactions.append(transaction)

for transaction in selected_transactions:
    print(transaction.info())

From 4 to 3: devolucion - 500.0 € 2019-02-08 14:42:55 e4d64920-aae7-4a86-90ca-74ebbb209f7f
From 4 to 3: devolucion - 100.0 € 2019-02-08 14:42:57 d6332a87-189c-4643-bf8a-ea5a37d490e9

In [132]:
transaction.time[0:4]

'2019'

In [147]:
bank.konto_aus(month = 2, year = 2019)

From 3 to 4: ticket - 10.0 € 2019-02-08 14:42:53 3ebf465a-81d5-488c-8a07-ed3216e15264
From 3 to 4: ticket - 200.0 € 2019-02-08 14:42:54 4f7b57f5-5ee2-463f-b622-8959067cc4d4
From 3 to 4: ticket - 2.0 € 2019-02-08 14:42:54 fc666efb-6b23-4340-9a4b-fe689422c0d9
From 4 to 3: devolucion - 500.0 € 2019-02-08 14:42:55 e4d64920-aae7-4a86-90ca-74ebbb209f7f
From 4 to 3: devolucion - 100.0 € 2019-02-08 14:42:57 d6332a87-189c-4643-bf8a-ea5a37d490e9

In [142]:
bank.transactions

[<app.transaction.Transaction at 0x105d80b38>,
 <app.transaction.Transaction at 0x105d80cc0>,
 <app.transaction.Transaction at 0x105d80e10>,
 <app.transaction.Transaction at 0x105d80f98>,
 <app.transaction.Transaction at 0x105d87160>]

In [149]:
bank.konto_aus(month = 2, year = 2019)

From 3 to 4: ticket - 10.0 € 2019-02-08 14:42:53
From 3 to 4: ticket - 200.0 € 2019-02-08 14:42:54
From 3 to 4: ticket - 2.0 € 2019-02-08 14:42:54
From 4 to 3: devolucion - 500.0 € 2019-02-08 14:42:55
From 4 to 3: devolucion - 100.0 € 2019-02-08 14:42:57

In [160]:
bank.konto_aus(month = 2, year = 2019)

Konto Auszug Month:

From 3 to 4: ticket - 10.0 € 2019-02-08 14:42:53
From 3 to 4: ticket - 200.0 € 2019-02-08 14:42:54
From 3 to 4: ticket - 2.0 € 2019-02-08 14:42:54
From 4 to 3: devolucion - 500.0 € 2019-02-08 14:42:55
From 4 to 3: devolucion - 100.0 € 2019-02-08 14:42:57

Sweet!